ALLOWED_HOSTS=localhost,http://localhost:8100
BACKEND_URL=http://localhost:8100

DATABASE_HOST=db
DATABASE_NAME=filesystem
DATABASE_PASS=
DATABASE_PORT=3306
DATABASE_USER=skeleton_user
DATABASE_ROOT_PASSWORD=

DJANGO_SETTINGS_MODULE=skeleton.settings.local
RUN_ENV=local
DEBUG=true

SENTRY_DSN=
